In [210]:
import yfinance as yf
import pandas as pd
from datetime import date
import matplotlib.pyplot as plt
from prophet import Prophet

from prophet.plot import plot_plotly
import plotly.offline as py

In [211]:
symbol_crypto = "BTC-USD"
df = yf.download(symbol_crypto, start='2010-01-01',
                end=date.today())
df

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100
...,...,...,...,...,...,...
2022-04-22,40525.863281,40777.757812,39315.417969,39740.320312,39740.320312,28011716745
2022-04-23,39738.722656,39935.859375,39352.203125,39486.730469,39486.730469,16138021249
2022-04-24,39478.375000,39845.925781,39233.539062,39469.292969,39469.292969,17964398167
2022-04-25,39472.605469,40491.753906,38338.378906,40458.308594,40458.308594,35445730570
2022-04-26,40448.421875,40713.890625,37884.984375,38117.460938,38117.460938,34569088416

In [212]:
df = df.reset_index()

In [213]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100
...,...,...,...,...,...,...,...
2774,2022-04-22,40525.863281,40777.757812,39315.417969,39740.320312,39740.320312,28011716745
2775,2022-04-23,39738.722656,39935.859375,39352.203125,39486.730469,39486.730469,16138021249
2776,2022-04-24,39478.375000,39845.925781,39233.539062,39469.292969,39469.292969,17964398167
2777,2022-04-25,39472.605469,40491.753906,38338.378906,40458.308594,40458.308594,35445730570
2778,2022-04-26,40448.421875,40713.890625,37884.984375,38117.460938,38117.460938,34569088416

In [214]:
df['Date'] = pd.to_datetime(df['Date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2779 entries, 0 to 2778
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2779 non-null   datetime64[ns]
 1   Open       2779 non-null   float64
 2   High       2779 non-null   float64
 3   Low        2779 non-null   float64
 4   Close      2779 non-null   float64
 5   Adj Close  2779 non-null   float64
 6   Volume     2779 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 152.1 KB

In [215]:
df[['ds','y']] = df [['Date', 'Adj Close']]

df

,Date,Open,High,Low,Close,Adj Close,Volume,ds,y
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800,2014-09-17,457.334015
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200,2014-09-18,424.440002
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700,2014-09-19,394.795990
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600,2014-09-20,408.903992
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100,2014-09-21,398.821014
...,...,...,...,...,...,...,...,...,...
2774,2022-04-22,40525.863281,40777.757812,39315.417969,39740.320312,39740.320312,28011716745,2022-04-22,39740.320312
2775,2022-04-23,39738.722656,39935.859375,39352.203125,39486.730469,39486.730469,16138021249,2022-04-23,39486.730469
2776,2022-04-24,39478.375000,39845.925781,39233.539062,39469.292969,39469.292969,17964398167,2022-04-24,39469.292969
2777,2022-04-25,39472.605469,40491.753906,38338.378906,40458.308594,40458.308594,35445730570,2022-04-25,40458.308594
2778,2022-04-26,40448.421875,40713.890625,37884.984375,38117.460938,38117.460938,34569088416,2022-04-26,38117.460938

In [216]:
model = Prophet()
model.fit(df)

INFO:prophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Initial log joint probability = -52.3126
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
      99       5203.55    0.00478138       111.634      0.8973      0.8973      121
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     199       5221.74    0.00141558         84.63      0.4929      0.4929      247
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     210       5222.59   0.000299882       142.574   1.139e-06       0.001      300  LS failed, Hessian reset
     296       5229.08   0.000424889       222.179   1.284e-06       0.001      438  LS failed, Hessian reset
     299       5229.24   0.000523164       89.2529           1           1      441
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     399       5231.41    0.00458809        135.56           1           1      567
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     413       5231.77   0.000374406       210.374   4.277e-06       0.001      624  LS failed, Hessian reset
     499       5231.98   0.000698105       87.9554      0.4535           1      731
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     599       5237.81      0.018073       114.897      0.1317           1      850
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     601       5237.88   0.000199311       99.6406   1.011e-06       0.001      893  LS failed, Hessian reset
     699       5241.34    0.00294624       74.8957           1           1     1015
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     799       5242.04    6.9304e-05       73.1753           1           1     1142
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     866        5242.4   0.000114056       81.3447   1.775e-06       0.001     1266  LS failed, Hessian reset
     899       5242.68   6.15169e-05       71.5759      0.4605      0.4605     1306
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     999       5242.75   1.92573e-05       77.9708      0.6358      0.6358     1433
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    1033       5242.75   8.27242e-06       67.4522       0.238       0.949     1479
Optimization terminated normally:
  Convergence detected: relative gradient magnitude is below tolerance

In [217]:
prediction_days = 365
future = model.make_future_dataframe(prediction_days, freq='d')
forecast = model.predict(future)
forecast

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2014-09-17,-169.315289,-8965.386260,6056.232349,-169.315289,-169.315289,-1189.151743,-1189.151743,-1189.151743,51.184694,51.184694,51.184694,-1240.336437,-1240.336437,-1240.336437,0.0,0.0,0.0,-1358.467031
1,2014-09-18,-167.917839,-9413.191309,6136.867469,-167.917839,-167.917839,-1300.905964,-1300.905964,-1300.905964,-13.565563,-13.565563,-13.565563,-1287.340400,-1287.340400,-1287.340400,0.0,0.0,0.0,-1468.823803
2,2014-09-19,-166.520390,-9204.631310,6149.085439,-166.520390,-166.520390,-1330.441675,-1330.441675,-1330.441675,-2.554868,-2.554868,-2.554868,-1327.886807,-1327.886807,-1327.886807,0.0,0.0,0.0,-1496.962066
3,2014-09-20,-165.122941,-9129.807309,5778.652828,-165.122941,-165.122941,-1353.643533,-1353.643533,-1353.643533,7.883103,7.883103,7.883103,-1361.526636,-1361.526636,-1361.526636,0.0,0.0,0.0,-1518.766475
4,2014-09-21,-163.725492,-8766.962329,5763.001273,-163.725492,-163.725492,-1403.155294,-1403.155294,-1403.155294,-15.283695,-15.283695,-15.283695,-1387.871599,-1387.871599,-1387.871599,0.0,0.0,0.0,-1566.880786
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3139,2023-04-22,77037.769367,68929.059460,86159.944878,73389.680692,80687.537495,690.022704,690.022704,690.022704,7.883103,7.883103,7.883103,682.139601,682.139601,682.139601,0.0,0.0,0.0,77727.792071
3140,2023-04-23,77095.479592,68967.019183,86137.994102,73437.594523,80759.430601,785.897336,785.897336,785.897336,-15.283695,-15.283695,-15.283695,801.181031,801.181031,801.181031,0.0,0.0,0.0,77881.376928
3141,2023-04-24,77153.189817,69296.464688,85871.468908,73482.839196,80831.323708,931.228500,931.228500,931.228500,0.334022,0.334022,0.334022,930.894479,930.894479,930.894479,0.0,0.0,0.0,78084.418317
3142,2023-04-25,77210.900041,69814.883801,87338.277838,73526.353904,80903.216815,1040.795146,1040.795146,1040.795146,-27.997692,-27.997692,-27.997692,1068.792838,1068.792838,1068.792838,0.0,0.0,0.0,78251.695187
3143,2023-04-26,77268.610266,69895.301471,87392.166265,73569.868611,80975.109922,1263.330759,1263.330759,1263.330759,51.184694,51.184694,51.184694,1212.146065,1212.146065,1212.146065,0.0,0.0,0.0,78531.941025

In [218]:
prediction_file_path = '../data/predictions/forecast_'+ symbol_crypto + '.csv'
model_file_path = '../data/models/serialized_model_'+ symbol_crypto + '.json'

In [219]:
import json
from prophet.serialize import model_to_json, model_from_json

with open(model_file_path, 'w') as fout:
    json.dump(model_to_json(model), fout)  # Save model

forecast.to_csv(prediction_file_path) #Save prediction