In [88]:
import yfinance as yf
import pandas as pd
from datetime import date
import matplotlib.pyplot as plt
from prophet import Prophet

from prophet.plot import plot_plotly
import plotly.offline as py

In [201]:
symbol_crypto = "WBTC-USD"
df = yf.download(symbol_crypto, start='2010-01-01',
                end=date.today())
df

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-01-30,3494.277588,3502.762939,3477.248047,3496.455322,3496.455322,1475
2019-01-31,3496.839844,3535.421143,3435.290527,3466.506592,3466.506592,19289
2019-02-01,3469.393066,3517.770264,3422.825684,3480.772217,3480.772217,13640
2019-02-02,3476.335205,3546.404297,3459.112793,3542.095459,3542.095459,1895
2019-02-03,3540.562744,3544.666992,3436.177734,3477.865967,3477.865967,6525
...,...,...,...,...,...,...
2022-04-22,40479.468750,40762.160156,39393.316406,39696.042969,39696.042969,204030101
2022-04-23,39698.976562,39869.687500,39377.515625,39475.828125,39475.828125,100242383
2022-04-24,39469.890625,39760.238281,39324.882812,39473.125000,39473.125000,119539025
2022-04-25,39473.691406,40425.101562,38338.855469,40405.269531,40405.269531,234385613
2022-04-26,40406.699219,40613.425781,37888.550781,38076.359375,38076.359375,232634079

In [202]:
df = df.reset_index()

In [203]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-01-30,3494.277588,3502.762939,3477.248047,3496.455322,3496.455322,1475
1,2019-01-31,3496.839844,3535.421143,3435.290527,3466.506592,3466.506592,19289
2,2019-02-01,3469.393066,3517.770264,3422.825684,3480.772217,3480.772217,13640
3,2019-02-02,3476.335205,3546.404297,3459.112793,3542.095459,3542.095459,1895
4,2019-02-03,3540.562744,3544.666992,3436.177734,3477.865967,3477.865967,6525
...,...,...,...,...,...,...,...
1178,2022-04-22,40479.468750,40762.160156,39393.316406,39696.042969,39696.042969,204030101
1179,2022-04-23,39698.976562,39869.687500,39377.515625,39475.828125,39475.828125,100242383
1180,2022-04-24,39469.890625,39760.238281,39324.882812,39473.125000,39473.125000,119539025
1181,2022-04-25,39473.691406,40425.101562,38338.855469,40405.269531,40405.269531,234385613
1182,2022-04-26,40406.699219,40613.425781,37888.550781,38076.359375,38076.359375,232634079

In [204]:
df['Date'] = pd.to_datetime(df['Date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1183 entries, 0 to 1182
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1183 non-null   datetime64[ns]
 1   Open       1183 non-null   float64
 2   High       1183 non-null   float64
 3   Low        1183 non-null   float64
 4   Close      1183 non-null   float64
 5   Adj Close  1183 non-null   float64
 6   Volume     1183 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 64.8 KB

In [205]:
df[['ds','y']] = df [['Date', 'Adj Close']]

df

,Date,Open,High,Low,Close,Adj Close,Volume,ds,y
0,2019-01-30,3494.277588,3502.762939,3477.248047,3496.455322,3496.455322,1475,2019-01-30,3496.455322
1,2019-01-31,3496.839844,3535.421143,3435.290527,3466.506592,3466.506592,19289,2019-01-31,3466.506592
2,2019-02-01,3469.393066,3517.770264,3422.825684,3480.772217,3480.772217,13640,2019-02-01,3480.772217
3,2019-02-02,3476.335205,3546.404297,3459.112793,3542.095459,3542.095459,1895,2019-02-02,3542.095459
4,2019-02-03,3540.562744,3544.666992,3436.177734,3477.865967,3477.865967,6525,2019-02-03,3477.865967
...,...,...,...,...,...,...,...,...,...
1178,2022-04-22,40479.468750,40762.160156,39393.316406,39696.042969,39696.042969,204030101,2022-04-22,39696.042969
1179,2022-04-23,39698.976562,39869.687500,39377.515625,39475.828125,39475.828125,100242383,2022-04-23,39475.828125
1180,2022-04-24,39469.890625,39760.238281,39324.882812,39473.125000,39473.125000,119539025,2022-04-24,39473.125000
1181,2022-04-25,39473.691406,40425.101562,38338.855469,40405.269531,40405.269531,234385613,2022-04-25,40405.269531
1182,2022-04-26,40406.699219,40613.425781,37888.550781,38076.359375,38076.359375,232634079,2022-04-26,38076.359375

In [206]:
model = Prophet()
model.fit(df)

INFO:prophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Initial log joint probability = -21.7119

    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
      99       2235.63      0.008023       244.805      0.6561      0.6561      116
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     199       2271.84     0.0128398       152.292           1           1      240
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     299       2299.38    0.00657702       179.358      0.3484        0.88      375
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     323       2302.36   0.000375462       109.587   1.503e-06       0.001      471  LS failed, Hessian reset
     399        2307.5     0.0191022       160.998      0.4557           1      569
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     411       2313.05    0.00177372       355.622   9.494e-06       0.001      629  LS failed, Hessian reset
     499       2325.27    0.00727952        130.75           1           1      743
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     599       2330.37    0.00567162       118.188           1           1      859
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     699       2337.54   0.000543836       124.616      0.5021      0.5021      990
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     774        2339.8   0.000295654       108.511   1.438e-06       0.001     1119  LS failed, Hessian reset
     799       2339.95   0.000469016       74.6757           1           1     1151
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     880       2341.83   0.000203349       88.4831   1.939e-06       0.001     1284  LS failed, Hessian reset
     899       2342.81    0.00611569       90.8357           1           1     1306
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     999       2343.98    0.00223789       82.8819           1           1     1434
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    1048       2346.88   0.000416835       167.116   4.257e-06       0.001     1548  LS failed, Hessian reset
    1099       2350.92    0.00229564        92.904           1           1     1606
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    1106       2351.15    0.00128893       255.347   1.821e-05       0.001     1645  LS failed, Hessian reset
    1199       2352.26     0.0015974       108.149           1           1     1763
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    1282       2352.99   4.39005e-06       58.4259   6.822e-08       0.001     1936  LS failed, Hessian reset
    1299       2352.99   1.04866e-05       72.8327           1           1     1957
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    1399       2353.07   5.08451e-06       69.0457      0.6929      0.6929     2077
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    1455       2356.01   0.000418893       170.262   1.275e-06       0.001     2173  LS failed, Hessian reset
    1499       2359.03   0.000499067       97.4592      0.9186      0.9186     2227
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    1567       2359.63   6.66137e-05       66.2956   8.769e-07       0.001     2349  LS failed, Hessian reset
    1599       2359.67   0.000169854        86.238   2.617e-06       0.001     2424  LS failed, Hessian reset
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
    1640       2359.68   8.08118e-06       74.5388   1.106e-07       0.001     2522  LS failed, Hessian reset
    1663       2359.68   1.86177e-07       68.3388      0.4956      0.4956     2552
Optimization terminated normally:
  Convergence detected: relative gradient magnitude is below tolerance

In [207]:
prediction_days = 365
future = model.make_future_dataframe(prediction_days, freq='d')
forecast = model.predict(future)
forecast

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2019-01-30,1696.377142,-5347.517395,5547.242334,1696.377142,1696.377142,-1770.482068,-1770.482068,-1770.482068,108.680301,108.680301,108.680301,-1879.162369,-1879.162369,-1879.162369,0.0,0.0,0.0,-74.104926
1,2019-01-31,1768.761607,-5089.829988,5292.239902,1768.761607,1768.761607,-1752.126465,-1752.126465,-1752.126465,-45.278968,-45.278968,-45.278968,-1706.847497,-1706.847497,-1706.847497,0.0,0.0,0.0,16.635142
2,2019-02-01,1841.146072,-5172.187615,5594.213086,1841.146072,1841.146072,-1518.296554,-1518.296554,-1518.296554,-15.376803,-15.376803,-15.376803,-1502.919751,-1502.919751,-1502.919751,0.0,0.0,0.0,322.849518
3,2019-02-02,1913.530536,-4777.251514,6096.295827,1913.530536,1913.530536,-1250.173891,-1250.173891,-1250.173891,21.614998,21.614998,21.614998,-1271.788889,-1271.788889,-1271.788889,0.0,0.0,0.0,663.356645
4,2019-02-03,1985.915001,-4222.898634,6092.654746,1985.915001,1985.915001,-1048.082829,-1048.082829,-1048.082829,-29.689669,-29.689669,-29.689669,-1018.393160,-1018.393160,-1018.393160,0.0,0.0,0.0,937.832171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1543,2023-04-22,35812.250425,-1225.470047,70860.898928,300.194381,71336.132994,-242.939706,-242.939706,-242.939706,21.614998,21.614998,21.614998,-264.554704,-264.554704,-264.554704,0.0,0.0,0.0,35569.310720
1544,2023-04-23,35793.902100,-503.398366,72346.469424,72.397198,71569.756168,-243.360739,-243.360739,-243.360739,-29.689669,-29.689669,-29.689669,-213.671069,-213.671069,-213.671069,0.0,0.0,0.0,35550.541362
1545,2023-04-24,35775.553775,-780.147357,71576.489752,-170.073381,71803.379342,-133.001337,-133.001337,-133.001337,20.488272,20.488272,20.488272,-153.489609,-153.489609,-153.489609,0.0,0.0,0.0,35642.552438
1546,2023-04-25,35757.205450,-2191.829083,73007.214656,-397.883513,71960.867042,-147.191104,-147.191104,-147.191104,-60.438131,-60.438131,-60.438131,-86.752974,-86.752974,-86.752974,0.0,0.0,0.0,35610.014346
1547,2023-04-26,35738.857125,-979.358745,72880.856091,-600.051877,72106.371424,92.239537,92.239537,92.239537,108.680301,108.680301,108.680301,-16.440765,-16.440765,-16.440765,0.0,0.0,0.0,35831.096662

In [208]:
prediction_file_path = '../data/predictions/forecast_'+ symbol_crypto + '.csv'
model_file_path = '../data/models/serialized_model_'+ symbol_crypto + '.json'

In [209]:
import json
from prophet.serialize import model_to_json, model_from_json

with open(model_file_path, 'w') as fout:
    json.dump(model_to_json(model), fout)  # Save model

forecast.to_csv(prediction_file_path) #Save prediction